@media screen and (max-width: 1010px) {
    .links, .contact {
        visibility: hidden;
        position: absolute;
    }

    .ham {
        visibility: visible;
        position: relative;
    }

    .mob-visible {
        background-color: #4a4a4a;
        position: sticky;
        top: 12vh;
        z-index: 10;
        transition: 0.5s ease-in;
        visibility: visible;
        margin: 0 80px;
    }

    .navbar {
        height: 12vh;
        padding-bottom: 30px;
        box-sizing: border-box;
        margin: 0;
    }

    .mob-menu-visible {
        visibility: visible;
        flex-direction: column;
        padding: 20px 80px 20px 80px;
        width: min-content;
        position: static;
        gap: 10px;
    }
}