@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

html {
  --primary-text: #ffffff;
  --secondary-text: #4a4a4a;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  color: var(--primary-text);
  text-decoration: none;
}

/* Scroll bar */

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  background: #ee7752dd;
  background-size: 100% 100%;
  border-radius: 10px;
}
/* Scroll bar */

.main-container {
  animation: gradient 15s ease infinite;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
}

/************************ Hero Section *************************/

.hero-section {
  height: max-content;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  padding-bottom: 60px;
  transition: 0.5s ease-in;
}

/**************** Nav part *******************/

.navbar {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  align-items: center;
  margin-bottom: 50px;
  position: sticky;
  top: 0;
  padding: 30px 80px;
  z-index: 10;
  transition: 0.25s ease-in;
}

.nav-active {
  background-color: #ee7752;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.logo > h3 {
  font-size: 32px;
  font-weight: 700;
}

.links {
  display: flex;
  gap: 40px;
  font-size: 14px;
}

.links > a {
  position: relative;
  padding: 10px 0;
}

.links > a:hover {
  transform: scale(1.1);
}

.links > a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--primary-text);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.links > a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.contact {
  padding: 15px 30px;
  background-color: transparent;
  border: 1px solid var(--primary-text);
  border-radius: 40px;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.contact::before {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleY(0);
  height: 100%;
  bottom: 0;
  left: 0;
  background-color: var(--primary-text);
  transform-origin: 0 0;
  transition: transform 0.25s ease-out;
  z-index: -1;
}

.contact:hover a {
  color: var(--secondary-text);
}

.contact:hover::before {
  transform-origin: 0 0;
  transform: scaleY(1);
  transform: transform 0.5s ease-out;
}

/***************** Mob-Nav Part ****************/

.ham {
  visibility: hidden;
  position: absolute;
  cursor: pointer;
}

.mob-nav{
  visibility: hidden;
  position: absolute;
}

/**************** Hero part *******************/

.hero-part {
  box-sizing: border-box;
  /* padding: 50px 6vw 0 12vw; */
  margin: 0 auto 0 auto;
  height: 100%;
}

.first-part {
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  padding-bottom: 40px;
  gap: 80px;
  /* max-height: 70%; */
  min-height: 65vh;
}

.wrapper {
  padding: 10px;
  border: 3px solid var(--primary-text);
  width: 300px;
  display: inline-block;
  overflow: hidden;
  z-index: 2;
  border-radius: 100%;
}

.wrapper > .hero-pic {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  border-radius: 100%;
  z-index: -1;
  background-color: var(--primary-text);
}

.text > h1 {
  font-size: 64px;
  font-weight: 400;
  margin-bottom: 30px;
  letter-spacing: -1px;
}

.text span {
  font-weight: 600;
  animation: gradient 15s ease infinite;
  background: linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text > h5 {
  color: var(--secondary-text);
  font-size: 28px;
  font-weight: 600;
}

.contact-part {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin: 0 15vw 0 0;
  gap: 80px;
  text-align: right;
}

.contact-part p {
  font-size: 24px;
  margin-bottom: 15px;
  color: var(--secondary-text);
  font-weight: 500;
}

.contact-part h6 {
  font-size: 28px;
  font-weight: 500;
  position: relative;
  padding-bottom: 5px;
}

.contact-part h6::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--primary-text);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.contact-part h6:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/************************ Work Section *************************/

.work-section {
  padding: 120px 0 80px 0;
  background-color: #f1f1f1;
}

.work-wrapper {
  margin: 0 auto 0 auto;
}

.work-section h2 {
  color: var(--secondary-text);
  font-size: 52px;
  font-weight: 500;
  margin-bottom: 50px;
}

.work-cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.card {
  width: 48%;
  position: relative;
  z-index: 1;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  position: relative;
  box-sizing: border-box;
}

.card img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  position: relative;
}

.hot-links {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: #ee775255;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  transform-origin: 0 0;
  transition: transform 0.25s ease-in;
  transform: scaleY(0);
  display: flex;
  flex-direction: column;
  justify-content:flex-end ;
  align-items: center;
  gap: 15px;
  padding-top: 10px
}

.hot-links h4, .hot-links h3{
  background-color: #ee7752;
  padding: 5px 15px;
  border-radius: 15px;
}

.card-links {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  margin-bottom: 15px;
}

.hot-links a {
  border-radius: 30px;
  position: relative;
}
.hot-links img {
  height: fit-content;
  width: 28px;
  padding: 3px 15px 3px 15px;
  background-color: #ee7752;
}

.hot-links img:hover {
  animation: wiggle 1.5s infinite;
}

.card:hover .hot-links {
  transform: scaleY(1);
}

/************************ Footer Section *************************/

footer {
  background-color: #000000;
  padding: 50px 0;
}

.footer-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  gap: 25px;
  margin: 0 auto 0 auto;
}

footer h3 {
  font-size: 30px;
  font-weight: 700;
}

footer span {
  color: #ee7752;
}

footer  .socials {
  display: flex;
  gap: 20px;
}

footer  .socials  a {
  padding: 5px 5px 1px 5px;
  border-radius: 5px;
  background-color: #ee775233;
  transition: 0.3s ease-in;
}

footer  .socials  a:hover {
  transform: rotateY(180deg);
}

/******************* Animation *************************/

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes wiggle {
  2% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  4% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  6% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  8% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  10% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  12% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  14% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  16% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  18% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  20% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}
